/*mat-toolbar styles*/

mat-toolbar{
   z-index: 5;
   background-color: #27445C;
   color: white;
   display: flex;
   justify-content: flex-end;
   position: fixed;
    /* box-shadow:10px 10px 8px #81878b;
   overflow: hidden;
   top:0;
   width:100vw;
   margin-left: -1.2rem;
   z-index: 1000; */
}
mat-toolbar nav{
   float: right;
}

mat-toolbar nav a{
   padding: 10px;
   text-decoration: none;
   font-size: 12px;
   color: white;
}
mat-toolbar .logo{
   float: left;
  padding: 0;
  width: 5vw;
   height: 10vh;
   margin: 0;
}
mat-toolbar nav a:hover {
   color: #AB47BC;
   
 }
/*End mat-toolbar style*/
/*Start DropDown style*/

.dropDown{
   position: relative;
   display: inline-block;
  
}
.dropBtn{
   padding: 1rem;
   font-size: 16px;
}
.dropDown-content{
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px 0 #4783bc;
}
.dropDown-content a{
   padding :12px 16px;
   display: block;
   color: #AB47BC;
}
.dropDown:hover .dropDown-content{
   display: block;
}
.dropDown-content a:hover{
}
/*End DropDown style*/

mat-toolbar button{
   color: white;
}