<mat-toolbar class="mat-elevation-z3" [style]="'background:#27445C'">
    <nav>
        <app-search></app-search>
         <a 
         [routerLink]="authService.isAuthenticated()?'/logout':'/login'">
         <i [class]="authService.isAuthenticated()?'fa fa-sign-in':'fal fa-sign-out'" ></i>
         {{authService.isAuthenticated()?'Logout':'Login'}}</a>
         <a [routerLink]="'/signup'">{{authService.isAuthenticated()?'':'Create Account'}}</a>
         <div class="dropDown">
          <a class="dropBtn">More</a>
          <div class="dropDown-content">
              <a href="">Rent</a>
              <a href="">Return</a>
              <a href="">Buy</a>
          </div>
         </div>
     </nav>
  </mat-toolbar>