.body {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  /* padding: 3rem; */
  padding: 1.2rem;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.nav{
  background-color: #27445C;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  box-shadow:10px 10px 8px #b9c4ce;
  position: fixed;
  overflow: hidden;
  top:0;
  width:100vw;
  margin-left: -1.2rem;

}
.nav>div{
 width:50px;
}
