*{
  margin: 0;
  padding: 0;
}
.container{
    box-sizing:border-box;
    width: 100vw;
    height: 100vh;
  color: white;
}
/*Main styles*/
main .row{
    padding:15px ;
 
    margin: 10px ;
    align-items: center;
}
/*End Main style*/
.row::after{
    display: table;
    content: '';
    clear:both
}

[class*="col-"]{
  float: left;
    padding: 30px 45px;
    border: 1px solid #27445C;
    color: black;
    margin: 5px;
}
[class*="col-"]:hover{
   padding: 31px 46px; 
transition: ease 2s;
font-size: 24px;
}
@media (max-width:600px){
    header nav a{
        padding:5px;
    }
    [class*="col-"]{
        /* width:100%; */
    }
}


/*Grid*/
.col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
/*End of Grid*/

/*search*/
.search-container{
  color:black;
  text-align: center;
  display: block;
}
.row img {
   width:10vw
}



.input-container {
	display: flex;
  float: left;
}

::placeholder {
  color: #757575;
  opacity: 1;
}

.search-input {
  background: #EEEEEE;
  color: #212121;
	vertical-align: middle;
  font-size: 16px;
  line-height: 2;
  padding: 5px;
  border: 0;
  outline: none;
  box-shadow: inset 0 -1px 1px -1px #CCCCCC, inset 0 1px 1px -1px #CCCCCC, inset 1px 0 1px -1px #CCCCCC;
}

.search-submit {
  background: #27445C;;
  color: #FFFFFF;
	vertical-align: middle;
  padding: 0 7px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.search-submit:hover {
  background: #AB47BC;
}

.search-submit i {
  font-size: 24px;
}