<div class="container">
    <app-header></app-header>
    <main>
        <div class="row">
            <div class="col-6" style="margin-left:15%; text-align:center;"> 
            <h5>Find Your Favorite Book</h5>
            <p>Books to rent from various categories!</p>
        </div>
         </div>
            <div class="row">
                <div class="col-2"> 
                    <div class="category-card">Fiction</div>
                 <img src="assets/library.png" alt="">
                </div>
                <div class="col-2"> <div class="category-card">Science</div></div>
                <div class="col-2"> <div class="category-card">History</div></div>
                <div class="col-2"> <div class="category-card">Mystery</div></div>
            </div>
    </main>
   <app-footer></app-footer>

</div>