table {
    width: 100%;
  }
  .mat-column-Actions {
    align-items: center;
  }
  .mat-column-Actions a{
   border:none;
   width:fit-content;
   padding: 0;
   margin: 0;

  }
  .mat-mdc-row{
    cursor:pointer;
  }
  .mat-mdc-row:hover{
    background-color: aqua;
  }
.mat-mdc-form-field-infix{
  display: block;
}
